@import "../.././Variables.scss";

.photography-image
{
  width: 100%;
}

.photography-container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.photo-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: $tabSpacing;
}

@media only screen and (max-width: 768px) {
  .photo-container
  {
    width: 100%;
    padding: 0px;
  }
}

.photo-caption
{
  margin-top: $tabSpacing !important;
  margin-bottom: 3*$tabSpacing !important;
}

.photography-wrapper
{
  margin-top: $gutterSpacing;
  margin-bottom: $gutterSpacing;
}

@media only screen and (max-width: 960px) {
  .photography-image
  {
    max-width: 800px;
  }
}

@media only screen and (max-width: 600px) {
  .photography-image
  {
    max-width: 500px;
  }
}
